body {
    /* Set the background image URL */
    background-image: url('res/img/backgroundBlurred.jpg');

    /* Set the background size to cover the entire body */
    background-size: cover;

    --hover: #f2f2f2;
    --road: #363636;
    --button-color: #f2f2f2;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Game */
.spot {
    /* fill: var(--spot); */
    opacity: 0;
}

.spot:hover,
.road-center:hover {
    fill: var(--hover);
    transition: all 0.2s ease-out;
    opacity: 0.4;
}

.road {
    stroke: var(--road);
    stroke-width: 10px;
    stroke-linecap: round;
}

.road-center {
    fill: white;
    opacity: 0;
}

.player-1 {
    fill: #ff0000;
    stroke: #ff0000;
    opacity: 1;
}

.player-2 {
    fill: #0000ff;
    stroke: #0000ff;
    opacity: 1;
}

.player-3 {
    fill: #00ff00;
    stroke: #00ff00;
    opacity: 1;
}

.player-4 {
    fill: #ffff00;
    stroke: #ffff00;
    opacity: 1;
}

.robber {
    stroke: rgb(255, 70, 70);
    opacity: 0.7;
    stroke-width: 10px;
}

.hexagon-center-circle {
    fill: white;
}

.hexagon-center-number,
.spot-text {
    fill: black;
    text-anchor: middle;
    dominant-baseline: central;
    font-family: sans-serif;
    font-weight: bold;
}

/* end Game */

.home-view {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-title {
    background-position-x: center;
    background-image: url("res/img/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 20em;
}

/* Home 
  display all menu item vertically
*/
.home-menu {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    width: 70%;
    height: auto;
    flex-direction: column;
    gap: 1em;
}

.home-menu-button {
    flex-grow: 1;
    font-size: large;
    font-weight: bold;
    height: 3em;
    border-radius: 1em;
    background-color: var(--button-color);
}

/* SetUp */
.setup-view {
    display: flex;
    flex-direction: column;
}

.setup-view>* {
    display: inline-block;
    width: fit-content;
    margin: auto;
}

.setup-title {
    font-size: 5em;
    font-weight: bold;
    margin-top: 1em;
    background-color: rgba(159, 109, 23, 0.5);
    padding: 0.3em 0.6em;
    border-radius: 1em;
    box-shadow: 0 0 0.5em 0.2em rgba(159, 109, 23, 0.65);
}

.setup-menu-combobox {
    margin-top: 2em;
    width: 50%;
    font-size: 1.2em;
    width: fit-content;
}

.setup-menu-textbox {
    margin-top: 1em;
    font-size: 1.2em;
}

.setup-menu-button {
    margin-top: 1em;
    width: 50%;
    height: 3em;
    font-size: large;
    font-weight: bold;
    border-radius: 1em;
    background-color: var(--button-color);
}

.setup-menu-button:first-of-type {
    margin-top: 2.5em;
}

/* Game */
.game-view-left-tab {
    display: inline-flex;
    flex-direction: column;
    width: 20%;
    margin-top: 5em;
    background-color: white;
    border-radius: 2em;
    vertical-align: top;
    padding: 2em;
}

.game-view-game-tab {
    text-align: center;
    display: inline-block;
    width: 50%;
    margin-right: auto;
}

.game-view-player {
    font-size: 1.5em;
}

.game-view-player-score {
    font-size: 1em;
}

.game-view-phase {
    font-size: 1em;
}
.game-view-step {
    font-size: 1em;
}
.game-view-buttons {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.game-view-button {
    width: 33%;
    height: 3em;
    font-size: 1em;
    font-weight: bold;
    border-radius: 1em;
}

.roll-dice-button {
    background-color: #b5ffa0;
}

.buy-development-card-button {
    background-color: #b5b5ff;
}

.end-turn-button {
    background-color: #fb9b9b;
}

.steal-card-button {
    background-color: #c1c977;
}

.game-view-moves {
    margin-top: 1em;
    font-size: 1em;
}

.game-view-move {
    width: fit-content;
    margin-top: 0.8em;
    padding: 0.3em 0.6em;
    font-size: 1em;
    text-align: center;
    background-color: #ffc977;
    border-radius: 1em;
    box-shadow: 0 0 0.5em 0.2em rgba(0, 0, 0, 0.65);
}

/* Card */
.game-view-card-container {
    display: flex;
    justify-content: space-between;
}

.game-view-child-container {
    display: flex;
    gap: 1em;
}

.game-view-card-item {
    width: 8vw;
    background-color: #ffc977;
    border-radius: 1em;
    box-shadow: 0 0 0.5em 0.2em rgba(0, 0, 0, 0.65);

}

.game-view-card {
    width: 90%;
    border-radius: 1.5em;
    padding: 0.5em 5%;
}


.game-view-card-count {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding-top: 0.5em;
}

/* Trade */

.game-view-right-tab {
    display: inline-flex;
    flex-direction: column;
    width: 20%;
    margin-top: 5em;
    background-color: white;
    border-radius: 2em;
    vertical-align: top;
    padding: 1%;
}


.trade-player-button {
    width: 25%;
    margin-left: 1em;
    border-radius: 1em;
}

.trade-bank-button {
    width: 100%;
    border-radius: 1em;
    margin-top: 1em;
}

.game-view-resource-type-choice{
    display: inline;
    justify-content: space-between;
    margin-top: 1em;
}

.game-view-resource-amount{
    display: inline;
    width: 20%;
    border-radius: 0.5em;
    margin-top: 0.5em; 
.popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
}